@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Inconsolata;
}
body{
  background-image: url("https://looneypatterns.com/images/pattern-preview/02.png");
  /* background: radial-gradient(circle, #4f46e4 10%, transparent 11%);
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 1 */
}